@use "./styles/reset";
@use "./styles/typography";
@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

.app {
  &__banner {
    position: relative;
    top: 112px;
    width: 100%;
    min-width: 360px;
  }
}
