@use "./styles/reset";
@use "./styles/typography";
@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

.app {
  &__banner {
    width: 100%;
  }

  &__content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
  }
}
