@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.nav {
  width: 100%;
  min-width: 350px;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  background-color: $background-color;

  &__header {
    display: flex;
    align-items: center;
    color: $text-color;
    font-family: $primary-font;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-display: 100;
    position: relative;
    margin-left: 8rem;
  }

  @media screen and (max-width: 750px) {
    .nav {
      justify-content: space-between;
    }

    &__header {
      margin: 0;
    }
  }
}
